{% extends 'base.html' %}

{% block content %}
<div class="container">
	<h1>Статистика</h1>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
	<p>Здесь ваша статистика</p>
</div>
{% endblock %}
